<form>
  {{input class="comment" type="text" required="true" autofocus="true" placeholder="Comment" value=body}}
  <button class="submit" {{action 'addComment'}}>Post</button>
  {{#if error}}<div>Error: {{error}}.</div>{{/if}}
  <br>
  {{body}}
</form>

